.profileBox{
    width: 70%;
    border: 5px solid black;
    font-size: 25pt;
    background: #BED8D4;
    margin: 20px;
}

.divider {
    height: 20px;
    background: #F7F9F9;
}
.divider1 {
    position: relative;
    align-self: center;
    height: 20px;
    width: 99%;
    left: 5px;
    background: #F7F9F9;
}

.headerBox1 {
    margin: 5px;
    position: relative;
    height: auto;
    width: 97.5%;
    left: 5px;
    background: #44A8EC;
    border: 1px solid black;
}

.headerBox2 {
    margin: 5px;
    position: relative;
    height: auto;
    width: 97.5%;
    left: 5px;
    background: #FAEE81;
    border: 1px solid black;
    vertical-align: bottom;
}

.headerBox3 {
    margin: 5px;
    position: relative;
    height: auto;
    width: 97.5%;
    background: #FAEE81;
    border: 1px solid black;
    vertical-align: bottom;
}

.headers {
    position: relative;
    left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text {
    position: relative;
    left: 30px;
}

.LImage {
    position: relative;
    height: 55px;
    width: 55px;
    border: 2px solid white;
}